---
import { ChevronsRightIcon } from 'lucide-react'
---

<nav
    class="relative overflow-hidden w-full bg-background rounded-lg p-4 grid grid-cols-10 gap-3"
>
    <a
        href="/projects"
        class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent col-span-full flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
    >
        <ChevronsRightIcon className="text-muted" size={80} strokeWidth={1.3} />

        <span class="font-semibold text-5xl">Projects</span>
    </a>

    <a
        href="/projects"
        class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent col-span-6 flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
    >
        <ChevronsRightIcon className="text-muted" size={80} strokeWidth={1.3} />

        <span class="font-semibold text-5xl">Projects</span>
    </a>

    <a
        href="/projects"
        class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent col-span-4 flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
    >
    </a>

    <a
        href="/projects"
        class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent col-span-2 flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
    >
    </a>

    <div class="relative col-span-6">
        <a
            href="/projects"
            class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
        >
            <ChevronsRightIcon className="text-muted" size={80} strokeWidth={1.3} />

            <span class="font-semibold text-5xl">Projects</span>
        </a>

        <!-- Background unclickable panel -->
        <a
            href="/projects"
            class="navigation-panel-tile absolute top-0 -right-full translate-x-3 px-5.5 py-3 bg-foreground/1 h-26 border border-accent w-full flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
        >
        </a>
    </div>

    <div class="relative col-start-2 col-end-11">
        <a
            href="/projects"
            class="navigation-panel-tile px-5.5 py-3 bg-foreground/1 h-26 border border-accent w-full flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
        >
            <ChevronsRightIcon className="text-muted" size={80} strokeWidth={1.3} />

            <span class="font-semibold text-5xl">Projects</span>
        </a>

        <!-- Background unclickable panel -->
        <a
            href="/projects"
            class="navigation-panel-tile absolute top-0 -left-full -translate-x-3 px-5.5 py-3 bg-foreground/1 h-26 border border-accent w-full flex items-center transition-colors duration-200 gap-x-3 hover:border-accent/40 hover:bg-foreground/3"
        >
            <ChevronsRightIcon className="text-muted" size={80} strokeWidth={1.3} />

            <span class="font-semibold text-5xl">Projects</span>
        </a>
    </div>

    <!-- Bottom shadow -->
    <div class="absolute bg-background blur-md w-full h-8 bottom-0 left-0"></div>
    <!-- Top shadow -->
    <div class="absolute bg-background blur-md w-full h-8 top-0 left-0"></div>

    <!-- Left shadow -->
    <div class="absolute bg-background blur-md w-8 h-full left-0 top-0"></div>
    <!-- Right shadow -->
    <div class="absolute bg-background blur-md w-8 h-full right-0 top-0"></div>
</nav>

<script>
    import { animate } from 'motion'

    const navigationTiles = document.querySelectorAll(
        '.navigation-panel-tile',
    ) as NodeListOf<HTMLElement>

    navigationTiles.forEach((tile, index) => {
        tile.style.opacity = '0'

        animate(
            tile,
            {
                opacity: 1,
            },
            {
                delay: Math.max(0.16 * index, 0.7),
                duration: 1,
                type: 'spring',
            },
        )
    })
</script>
