---
import { contentApiClient } from '@/lib/content'

const { data, meta } = await contentApiClient.fetchPosts()
---

<section id="posts" class="p-18">
    <h2
        class="scroll-m-20 text-start text-6xl max-w-lg max-xl:text-4xl font-extrabold tracking-tight mb-10 text-balance"
    >
        Something from me
    </h2>

    <div class="max-w-3xl">
        <article class="relative bg-accent/20 min-h-28 border p-5 rounded-lg">
            <div class="text-muted-foreground text-sm mb-1">@vet _ 2025-03-12</div>

            {data.map(post => <div>{post.content}</div>)}

            <svg
                class="absolute right-2 -bottom-2"
                width="105"
                height="51"
                viewBox="0 0 105 51"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M16.4962 35.2195C16.3128 35.2195 16.1293 35.2195 16.0348 35.036C15.7791 34.5397 16.9493 32.3651 18.9365 29.1286C20.6567 26.3268 22.7859 23.4712 25.0024 19.9595C27.3293 16.2728 30.1039 12.9097 32.2759 9.719C33.2896 8.22995 34.3563 7.17034 35.1053 6.23648C35.8544 5.30262 36.3129 4.56887 36.6868 8.50164C37.0606 12.4344 37.3357 21.0559 37.3399 26.6897C37.3441 32.3234 37.0689 34.7081 36.9272 37.1748C36.7854 39.6414 36.7854 42.1178 37.0606 43.1184C37.3357 44.1189 37.8861 43.5686 38.4447 42.8724C39.0034 42.1762 39.5537 41.3507 40.8919 38.9994C42.2302 36.6481 44.3397 32.7959 47.3984 28.2433C50.457 23.6908 54.4009 18.5545 57.3957 14.8997C60.3904 11.2449 62.3165 9.22705 64.9597 6.90352C67.6028 4.57999 70.9047 2.01187 72.6515 1.23921C74.3983 0.466557 74.49 1.56718 74.4456 4.51884C74.4011 7.47051 74.2177 12.2399 74.2607 15.9809C74.3038 19.7219 74.579 22.29 75.1404 24.9359"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M1.49622 35.2195C1.31278 35.2195 1.12934 35.2195 1.03485 35.036C0.779139 34.5397 1.94925 32.3651 3.93648 29.1286C5.65673 26.3268 7.78587 23.4712 10.0024 19.9595C12.3293 16.2728 15.1039 12.9097 17.2759 9.719C18.2896 8.22995 19.3563 7.17034 20.1053 6.23648C20.8544 5.30262 21.3129 4.56887 21.6868 8.50164C22.0606 12.4344 22.3357 21.0559 22.3399 26.6897C22.3441 32.3234 22.0689 34.7081 21.9272 37.1748C21.7854 39.6414 21.7854 42.1178 22.0606 43.1184C22.3357 44.1189 22.8861 43.5686 23.4447 42.8724C24.0034 42.1762 24.5537 41.3507 25.8919 38.9994C27.2302 36.6481 29.3397 32.7959 32.3984 28.2433C35.457 23.6908 39.4009 18.5545 42.3957 14.8997C45.3904 11.2449 47.3165 9.22705 49.9597 6.90352C52.6028 4.57999 55.9047 2.01187 57.6515 1.23921C59.3983 0.466557 59.49 1.56718 59.4456 4.51884C59.4011 7.47051 59.2177 12.2399 59.2607 15.9809C59.3038 19.7219 59.579 22.29 60.1404 24.9359"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M31.4962 42.2195C31.3128 42.2195 31.1293 42.2195 31.0348 42.036C30.7791 41.5397 31.9493 39.3651 33.9365 36.1286C35.6567 33.3268 37.7859 30.4712 40.0024 26.9595C42.3293 23.2728 45.1039 19.9097 47.2759 16.719C48.2896 15.2299 49.3563 14.1703 50.1053 13.2365C50.8544 12.3026 51.3129 11.5689 51.6868 15.5016C52.0606 19.4344 52.3357 28.0559 52.3399 33.6897C52.3441 39.3234 52.0689 41.7081 51.9272 44.1748C51.7854 46.6414 51.7854 49.1178 52.0606 50.1184C52.3357 51.1189 52.8861 50.5686 53.4447 49.8724C54.0034 49.1762 54.5537 48.3507 55.8919 45.9994C57.2302 43.6481 59.3397 39.7959 62.3984 35.2433C65.457 30.6908 69.4009 25.5545 72.3957 21.8997C75.3904 18.2449 77.3165 16.2271 79.9597 13.9035C82.6028 11.58 85.9047 9.01187 87.6515 8.23921C89.3983 7.46656 89.49 8.56718 89.4456 11.5188C89.4011 14.4705 89.2177 19.2399 89.2607 22.9809C89.3038 26.7219 89.579 29.29 90.1404 31.9359"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M85.1461 33.5519C86.8943 34.3801 89.682 35.8643 90.192 36.5577C90.4032 36.845 90.2434 37.1595 89.8751 37.4388C87.1524 39.504 81.2772 39.2023 76.3828 39.7081C70.4903 40.3171 66.6245 41.612 65.2835 41.3827C63.1031 39.03 61.2493 35.8754 59.9054 34.7136C59.5789 34.4802 59.3037 34.2967 58.4644 33.5519"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M70.1461 33.5519C71.8943 34.3801 74.682 35.8643 75.192 36.5577C75.4032 36.845 75.2434 37.1595 74.8751 37.4388C72.1524 39.504 66.2772 39.2023 61.3828 39.7081C55.4903 40.3171 51.6245 41.612 50.2835 41.3827C48.1031 39.03 46.2493 35.8754 44.9054 34.7136C44.5789 34.4802 44.3037 34.2967 43.4644 33.5519"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M100.146 40.5519C101.894 41.3801 104.682 42.8643 105.192 43.5577C105.403 43.845 105.243 44.1595 104.875 44.4388C102.152 46.504 96.2772 46.2023 91.3828 46.7081C85.4903 47.3171 81.6245 48.612 80.2835 48.3827C78.1031 46.03 76.2493 42.8754 74.9054 41.7136C74.5789 41.4802 74.3037 41.2967 73.4644 40.5519"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M58.1864 35.7754C58.0947 35.9588 58.003 36.1423 57.9099 36.3743C57.8168 36.6064 57.7251 36.8816 57.0747 37.7209"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M43.1864 35.7754C43.0947 35.9588 43.003 36.1423 42.9099 36.3743C42.8168 36.6064 42.7251 36.8816 42.0747 37.7209"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
                <path
                    d="M73.1864 42.7754C73.0947 42.9588 73.003 43.1423 72.9099 43.3743C72.8168 43.6064 72.7251 43.8816 72.0747 44.7209"
                    stroke="#3C3C3C"
                    stroke-linecap="round"></path>
            </svg>
        </article>
    </div>
</section>
