---
import { contentApiClient } from '@/lib/content'
import PostCard from '@/pages/home/_post-card.astro'

const { data } = await contentApiClient.fetchPosts()
---

<section id="posts" class="p-18">
    <h2
        class="scroll-m-20 text-start text-6xl max-w-lg max-xl:text-4xl font-extrabold tracking-tight mb-10 text-balance"
    >
        Something from me
    </h2>

    <div class="max-w-3xl">
        {data.map(post => <PostCard post={post} />)}
    </div>
</section>
