---
import PostCard from '@/pages/home/_post-card.astro'
import type { Post } from '@/lib/content'

interface Props {
    posts: Post[]
}

const { posts } = Astro.props

const sortedPosts = posts.toSorted(
    (post1, post2) =>
        new Date(post2._createdAt).getTime() - new Date(post1._createdAt).getTime(),
)
---

<section id="posts" class="relative p-18 max-xl:p-14 max-lg:p-8 max-sm:p-7">
    <h2
        class="scroll-m-20 text-start text-6xl max-w-lg max-xl:text-4xl font-extrabold tracking-tight mb-19 text-balance"
    >
        Something from me
    </h2>

    <div
        id="postsSectionSpotlight"
        class="absolute right-10 top-40 bg-primary-lighter/65 size-[400px] blur-[240px] rounded-full opacity-0 firefox:size-[600px] firefox:bg-primary-lighter/20"
    >
    </div>

    <div class="relative max-w-3xl">
        {sortedPosts.map(post => <PostCard post={post} />)}
    </div>
</section>

<script>
    import { animate, inView } from 'motion'

    inView('#postsSectionSpotlight', element => {
        animate(element, { opacity: 1 }, { duration: 1.8, type: 'spring' })
    })
</script>
