<div class="absolute top-0 left-0 w-full h-full overflow-hidden pointer-events-none">
    <canvas
        id="canvas"
        class="absolute h-screen w-1/2 top-0 right-0 min-w-2xl max-sm:h-[500px] max-sm:w-[500px] max-sm:-right-40 max-sm:top-20"
    ></canvas>
</div>

<script>
    import { Crow3dScene } from '@/lib/3d/crow-scene'

    const canvas = document.querySelector('#canvas') as HTMLCanvasElement

    const crowScene = new Crow3dScene(canvas)
    crowScene
        .initialize()
        .then(() => console.log('Crow 3d scene was initialized'))
        .catch(console.error)
</script>
