---
import blinkingEyeGif from '@/assets/images/blinking-eye.gif'
import handImage from '@/assets/images/hand.jpg'

import RootLayout from '@/layouts/root-layout.astro'
import { Button } from '@/components/ui/button'
import { Image } from 'astro:assets'
import InfoCard from '@/pages/home/_info-card.astro'
import PostsSection from '@/pages/home/_posts-section.astro'
import Scene3d from '@/pages/home/_scene-3d.astro'
---

<RootLayout>
    <main>
        <section
            class="mb-12 px-18 grid grid-cols-[1fr_minmax(500px,1fr)] items-start gap-x-10 justify-start h-screen pb-10 max-lg:h-auto max-lg:px-10 max-lg:flex max-lg:flex-col max-lg:gap-y-10"
        >
            <div class="pt-18">
                <h1
                    class="scroll-m-20 text-start text-7xl max-w-lg max-xl:text-5xl font-extrabold tracking-tight mb-7 text-balance"
                >
                    # 0 1 2 3 4 5 6 7 8 9 10 12 13 14 15 16
                </h1>

                <p
                    class="text-muted-foreground/70 text-3xl text-balance max-xl:text-2xl mb-7"
                >
                    ## Dev, music, photography & text dump
                </p>

                <div class="flex items-center gap-x-3">
                    <a href="#posts"
                        ><Button className="px-7 hover:cursor-pointer">
                            View
                        </Button></a
                    >
                </div>
            </div>

            <div
                class="relative h-full max-h-screen flex flex-col gap-y-[3%] gap-x-5 max-lg:max-w-xl max-lg:gap-y-5 max-lg:max-h-fit max-lg:h-fit"
            >
                <Image
                    src={blinkingEyeGif}
                    class="rounded-b-xl w-full h-[37%] object-cover max-lg:rounded-xl max-lg:h-auto"
                    alt="Blinking eye"
                />

                <Image
                    src={handImage}
                    class="rounded-xl w-full h-[58%] object-cover object-bottom-left brightness-[0.5] shrink"
                    loading="eager"
                    alt="A hand"
                />

                <!-- Spotlight effect -->
                <div
                    class="absolute -bottom-0 -left-50 bg-primary-lighter/40 w-[500px] h-[559px] rounded-full blur-[225px] max-lg:top-1/2 max-lg:-translate-y-1/2 max-lg:right-0 max-lg:left-auto"
                >
                </div>

                <InfoCard />
            </div>
        </section>

        <PostsSection />
    </main>

    <Scene3d />
</RootLayout>
