---
import RootLayout from '@/layouts/root-layout.astro'
import { Button } from '@/components/ui/button'
---

<RootLayout>
	<div class="p-40">
		<h1 class="mb-2 font-bold text-5xl mb-14">Remaking my website again</h1>

		<Button>
			Waste my time
		</Button>
	</div>
</RootLayout>
