---
import blinkingEyeGif from '@/assets/images/blinking-eye.gif'
import handImage from '@/assets/images/hand.jpg'
import ghostImage from '@/assets/images/ghost.png'

import {
    GithubIcon,
    MailIcon,
    MessageCircleIcon,
    MusicIcon,
    TwitterIcon,
} from 'lucide-react'
import RootLayout from '@/layouts/RootLayout.astro'
import { Button } from '@/components/ui/button'
import { Image } from 'astro:assets'
---

<RootLayout>
    <main>
        <section
            class="px-18 grid grid-cols-[1fr_minmax(500px,1fr)] items-start gap-x-10 justify-start h-screen pb-10 max-lg:h-auto max-lg:px-10 max-lg:flex max-lg:flex-col max-lg:gap-y-10"
        >
            <div class="pt-18">
                <h1
                    class="scroll-m-20 text-start text-7xl max-w-lg max-xl:text-5xl font-extrabold tracking-tight mb-7 text-balance"
                >
                    # 0 1 2 3 4 5 6 7 8 9 10 12 13 14 15 16
                </h1>

                <p
                    class="text-muted-foreground/70 text-3xl text-balance max-xl:text-2xl mb-7"
                >
                    ## Dev, music, photography & text dump
                </p>

                <div class="flex items-center gap-x-3">
                    <Button className="px-7"> View </Button>

                    <Button variant="outline"> <MessageCircleIcon /> Contact </Button>
                </div>
            </div>

            <div
                class="relative h-full max-h-screen flex flex-col gap-y-[3%] gap-x-5 max-lg:max-w-xl max-lg:gap-y-5 max-lg:max-h-auto max-lg:h-auto"
            >
                <Image
                    src={blinkingEyeGif}
                    class="rounded-b-xl w-full h-[37%] object-cover max-lg:rounded-xl max-lg:h-auto"
                    alt="Blinking eye"
                />

                <Image
                    src={handImage}
                    class="rounded-xl w-full h-[58%] object-cover object-bottom-left brightness-[0.5] max-lg:h-auto"
                    loading="eager"
                    alt="A hand"
                />

                <!-- Spotlight effect -->
                <div
                    class="absolute -bottom-0 -left-50 bg-red-100/50 w-[500px] h-[559px] rounded-full blur-[250px] max-lg:top-1/2 max-lg:-translate-y-1/2 max-lg:right-0 max-lg:left-auto"
                >
                </div>

                <div
                    class="absolute top-1/2 -translate-1/2 left-1/2 group max-w-[400px] w-full"
                >
                    <div
                        class="absolute p-5 w-full h-full bg-background/30 border backdrop-blur-xl rounded-xl transition-all duration-300 -left-5 -bottom-5 group-hover:-left-3 group-hover:-bottom-3"
                    >
                    </div>

                    <div
                        class="p-5 w-full bg-background/40 border backdrop-blur-xl rounded-xl font-mono"
                    >
                        <header class="flex items-center gap-x-4.5 mb-3.5">
                            <div
                                class="bg-foreground/3 border rounded-lg w-16 h-16 flex items-center gap-x-3 justify-center"
                            >
                                <Image
                                    src={ghostImage}
                                    alt="Ghost pixel art"
                                    width={54}
                                    height={43}
                                    class="h-8 w-10"
                                />
                            </div>

                            <dl>
                                <dt class="inline font-bold">Status:</dt>

                                <dd class="inline">sleeping</dd>
                            </dl>
                        </header>

                        <dl class="mb-6">
                            <div class="mb-2">
                                <dt class="inline font-bold">Health:</dt>

                                <dd class="inline">54/100</dd>
                            </div>

                            <div>
                                <dt class="inline font-bold">Age:</dt>

                                <dd class="inline">20</dd>
                            </div>
                        </dl>

                        <div
                            class="bg-foreground/3 border rounded-lg w-full p-3 flex items-center gap-x-3.5 mb-3"
                        >
                            <MusicIcon strokeWidth={1} />
                            Hanatarash - 9 is 6
                        </div>

                        <div class="flex items-center gap-x-2">
                            <a
                                target="_blank"
                                href="https://github.com/one-with-violets-in-her-lap"
                                aria-label="Github profile"
                            >
                                <Button
                                    size="icon"
                                    variant="outline"
                                    className="hover:cursor-pointer"
                                    aria-label="Open Github"
                                >
                                    <GithubIcon />
                                </Button>
                            </a>

                            <a target="_blank" href="https://twitter.com/strawmans" aria-label="Twitter profile">
                                <Button
                                    size="icon"
                                    variant="outline"
                                    className="hover:cursor-pointer"
                                    aria-label="Open Twitter"
                                >
                                    <TwitterIcon />
                                </Button>
                            </a>

                            <a target="_blank" href="mailto:sleep.posted514@passinbox.com" aria-label="Mail">
                                <Button
                                    size="icon"
                                    variant="outline"
                                    className="hover:cursor-pointer"
                                    aria-label="Open mail"
                                >
                                    <MailIcon />
                                </Button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</RootLayout>
