---
import { Button } from '@/components/ui/button'
import RootLayout from '@/layouts/root-layout.astro'
---

<RootLayout>
    <div class="h-screen p-10">
        <h1 class="block text-5xl mb-3">Coming soon</h1>

        <a href="/" class="inline-block">
            <Button variant="link" className="px-0 hover:cursor-pointer"
                >Go to main page</Button
            >
        </a>
    </div>i
</RootLayout>
