---
import '@/assets/styles/global.css'

import Footer from '@/components/footer.astro'
---

<html lang="en" class="dark">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content="Hi" />
        <title>*</title>
    </head>
    <body class="noise-bg">
        <div class="max-w-[1800px] mx-auto">
            <slot />

            <Footer />
        </div>
    </body>
</html>

<style>
    .noise-bg {
        background-image: url('@/assets/images/noise.jpg');
        background-repeat: repeat;
    }
</style>
